:host {
  border-right: var(--light-border);
  display: block;
}

.chats-filters-input__wrapper {
  padding: 16px 20px;
  border-bottom: var(--light-border);
}

.svg-position {
  position: relative;
}

.svg-list-search {
  position: absolute;
  width: 14px;
  height: 13px;
  top: 44px;
  right: 0;
}
