<form class="profile-search-form" [formGroup]="searchForm">
  <label class="tt-form-label">
    <span class="tt-form-label__text">Имя пользователя</span>
    <div class="search-input-svg">
      <input
        type="text"
        class="tt-form-input-search"
        formControlName="firstName"
        placeholder="Введите имя"
      />
      <svg icon="search" class="search-svg"></svg>
    </div>
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Фамилия</span>
    <div class="search-input-svg">
      <input
        type="text"
        class="tt-form-input-search"
        formControlName="lastName"
        placeholder="Введите фамилию"
      />
      <svg icon="search" class="search-svg"></svg>
    </div>
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Город</span>
    <div class="search-input-svg">
      <input
        type="text"
        class="tt-form-input-search"
        formControlName="city"
        placeholder="Введите город"
      />
      <svg icon="search" class="search-svg"></svg>
    </div>
  </label>

  <label class="tt-form-label">
    <span class="tt-form-label__text">Навыки</span>
    <div class="search-input-svg">
      <input
        type="text"
        class="tt-form-input-search"
        formControlName="stack"
        placeholder="Введите навыки"
      />
      <svg icon="search" class="search-svg"></svg>
    </div>
  </label>

  <label class="filter-icon">
    <svg icon="filter" class="svg-fil"></svg>
  </label>
</form>
