.profile-search-form {
  position: relative;
  padding: 16px 20px;
  background: var(--dark-color);
  border: 1px solid var(--light-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  grid-gap: 40px;
}

.tt-form-input-search {
  width: 300px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border: none;
  border-bottom: 1px solid var(--light-color);
  height: 33px;
  background: none;
  color: var(--light-color);
}

.search-input-svg {
  position: relative;
}

.search-svg {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 0;
  bottom: 10px;
}

.filter-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background: var(--primary-color);
  right: 20px;
  top: 16px;
  border-radius: 2px;
  border: 1px solid var(--dark-color);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    border: 1px solid var(--light-color);
  }
}

.svg-fil {
  width: 12px;
  height: 12px;
}
