:host {
  display: grid;
  grid-gap: 20px;
}

.profile-card-wrapper {
  display: grid;
  grid-gap: 8px;
  overflow-y: auto;
  height: 100%;
  scrollbar-color: var(--primary-color) var(--dark-color);
}
