:host {
  display: block;
  padding: 20px 12px;
  position: relative;
  background: var(--dark-color);
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  padding: 16px 12px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--light-color);
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  align-items: center;
  grid-gap: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-align: left;
  border-radius: 2px;
  text-decoration: none;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    .menu-item svg {
      color: var(--primary-color);
    }
  }
}

.menu-item svg {
  width: 16px;
  height: 16px;
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;
}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  padding-top: 3px;
  color: var(--primary-color);
}

.sidebar__footer {
  position: absolute;
  width: calc(100% - 20px);
  bottom: 20px;
  background: var(--dark-hover-color);
  border-radius: 2px;
  padding: 4px 16px;
  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &:hover,
    &:focus-visible {
      border: 1px solid var(--light-color);
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  .username-text {
    font-weight: 700;
    color: var(--primary-color);
  }
}

.settings-btn {
  svg {
    width: 13px;
    height: 13px;
    color: var(--primary-color);
  }
  &:hover {
    svg {
      color: var(--light-color);
    }
  }
}

.showLogOut {
  display: flex;
  gap: 20px;
  background: var(--dark-hover-color);
  color: var(--light-color);
  padding-top: 20px;
}

.svg15 {
  width: 15px;
  height: 14px;
}

.btn-out {
  border: none;
  background: none;
  color: var(--light-color);
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: var(--primary-color);
  }
}
