:host {
	display: grid;
	grid-gap: 48px;
	grid-template-columns: 322px 1fr;
	padding: 24px;
}

.profile-form__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid var(--light-color);
	background: var(--dark-color);
	padding: 32px;
	height: calc(100dvh - (24px * 4));
}

.profile-form {
	display: grid;
	grid-gap: 20px;
}

.two-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.btn-settings {
	display: flex;
	justify-content: space-between;
}

.btn-save {
	width: 247px;
	height: 44px;
	background: var(--primary-color);
	color: var(--dark-color);
	border-radius: 2px;
	border: 1px solid var(--dark-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
}

.btn-get-out {
	width: 44px;
	height: 44px;
	border-radius: 2px;
	border: 1px solid var(--light-color);
	background: var(--dark-color);
	cursor: pointer;

	&:hover,
	&:focus-visible {
		border: 1px solid var(--primary-color);
	}

	.svg-out {
		width: 13px;
		height: 13px;
		color: var(--light-color);

		&:hover,
		&:focus-visible {
			color: var(--primary-color);
		}
	}
}

.btn-svg-two {
	display: flex;
	gap: 20px;
}

.btn-delete {
	width: 44px;
	height: 44px;
	background: var(--dark-color);
	border: 1px solid var(--light-color);
	border-radius: 2px;
	cursor: pointer;

	&:hover,
	&:focus-visible {
		border: 1px solid var(--primary-color);
	}
}

.svg-del {
	width: 10px;
	height: 12px;
	display: block;
	margin: auto;
}

.btn-go-work {
	position: relative;
}

.btn-work {
	position: absolute;
	width: 44px;
	height: 44px;
	background: var(--primary-color);
	right: 0;
	bottom: 50%;
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid var(--dark-color);

	&:hover,
	&:focus-visible {
		border: 1px solid var(--light-color);
	}
}
