@import 'fonts';
@import 'margins';

:root {
  --dark-color: #000000;
  --dark-active-color: #161616;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --gray-color: #5f646d;
  --dark-hover-color: #161616;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
  --message-color: #404040;
  --group-date-color: #ebf0f0;
  --red-color: #d9534f;

  --light-border: 1px solid var(--light-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: 'JetBrains Mono', sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  background-image: url(/assets/imgs/background.jpg);
  background-size: cover;
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  height: 24px;
}

.btn {
  width: 100%;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
}

.btn-icon {
  width: 44px;
  height: 44px;
  background: var(--primary-color);
  cursor: pointer;
  color: var(--dark-color);
  border-radius: 4px;
  border: 1px solid var(--dark-color);

  &:hover,
  &:focus-visible {
    border: 1px solid var(--light-color);
  }
}

.svg16 {
  width: 14px;
  height: 13px;
}

.btn-shadow {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    bottom: -4px;
    right: -4px;
    background: var(--gray-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 4px;
  }
}

.h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}

.h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.h4 {
  font-style: normal;
  font-size: 24px;
  font-weight: 800;
  line-height: 32px;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.medium-text {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.tt-control-label {
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.tt-input {
  width: 100%;
  margin-top: 8px;
  display: block;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  background: var(--dark-color);
  color: var(--light-color);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  font-family: 'JetBrains Mono', sans-serif;
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tt-form-label__text {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent-color);
}

.tt-form-input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border: none;
  border-bottom: 1px solid var(--light-color);
  height: 33px;
  background: none;
  color: var(--light-color);

  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}

.tt-textarea {
  height: 84px;
  resize: none;
}
